<div id="instructions" class="md-padding">
  <div class="csat-text-over-img">
    <h2 hide-sm class="md-title">Climbing Performance Assessment Test</h2>
    <p>
      Here's a good way to assess your climbing performance and work out your
      key strengths and weaknesses (check out Eric J. Hörst's book
      <a href="http://www.trainingforclimbing.com/" target="_blank">Training for Climbing</a>).
      It's good to take stock especially if your performance has plateaued.
    </p>
    <p>
      After you answer all the questions, we add up the scores and split them
      in three categroies - <span>Mental</span>, <span>Technique and Tactics</span>
      and <span>Physical</span>, to attain three totals. If all three areas are
      within five points of each other you are a well-balanced climber but,
      more commonly, you will have one that is much lower scoring than the others.
      This is your major weakness.
    </p>
    <p hide-sm>
      We'll follow up by reviewing each question of the test and highlighting
      those on which you scored a three or less. Each of these low scoring
      questions identifies a specific element of your	climbing performance that
      is holding you back. Focus on your most dramatic weaknesses
      (5-6 lowest scoring items). Work out an action plan then once you begin
      to see improvement shift your focus onto other low scoring areas of the
      assessment. Re-take the test if needs be.
    </p>
    <!--
    Source: http://www.edenrockclimbing.com/blog/posts/climbing-performance-self-assessment-test
    -->
  </div>

  <div ng-if="!main.loggedIn" class="md-padding md-whiteframe-2dp">
    <p>Please Sign up or Login to take the test.</p>
  	<md-button ui-sref="login" class="md-primary md-raised" aria-label="Login">Login</md-button>
    <md-button ui-sref="signup" class="md-accent md-raised" aria-label="Sign Up">Sign Up</md-button>
  </div>

  <div ng-if="main.loggedIn" class="md-actions" layout="row" layout-align="end center">
    <md-button ui-sref="test" class="md-raised md-primary" aria-label="Take the test">Take the test</md-button>
    <md-button ui-sref="result" class="md-raised md-accent" aria-label="See results">See Results</md-button>
  </div>
</div>
