<div layout="column" layout-padding>

	<div class="md-padding md-whiteframe-2dp">
		<h1>Login</h1>

		<form ng-submit="login.doLogin()">

			<div layout layout-sm="column">
        <md-input-container flex>
          <label>Username</label>
          <input ng-model="login.loginData.username" autocorrect="off" autocapitalize="none">
        </md-input-container>
        <md-input-container flex>
          <label>Password</label>
          <input type="password" ng-model="login.loginData.password">
        </md-input-container>
      </div>

			<div class="md-warn" ng-if="login.error">
				{{ login.error }}
			</div>

			<md-button type="submit" class="md-primary md-raised" aria-label="Login"
				ng-disabled="login.processing">Login</md-button>
			<md-progress-circular ng-if="login.processing" md-mode="indeterminate">
			</md-progress-circular>

		</form>
	</div>

	<br>

	<div ng-if="false" class="md-whiteframe-2dp md-padding">
		<p>Test Info</p>
		<p><strong>Username</strong>: martin</p>
		<p><strong>Password</strong>: supersecret</p>
		<md-button href="#" ng-click="login.createSample()"
				class="md-raised md-primary">Create Sample User</md-button>
	</div>

</div>
