<md-card ng-controller="QuestionCtrl">
  <md-card-content>
    <h5>Question {{ question.num }} of {{ question.total }}</h5>
    <hr>
    <h2 class="md-title">{{ question.title }}</h2>
    <form ng-submit="submit()">
      <md-radio-group ng-model="data.group1">
        <md-radio-button ng-repeat="a in question.answers" value="{{ a.value }}"
          class="md-primary">{{ a.label }}</md-radio-button>
      </md-radio-group>
      <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span></p>
    </form>
  </md-card-content>
  <div layout="row" class="md-actions md-padding">
    <div flex layout="row" layout-align="space-between center">
      <md-button class="md-raised" ng-click="prevQuestion()" type="button">Previous</md-button>
      <md-button class="md-raised md-primary" ng-click="nextQuestion()" type="button">Next</md-button>
    </div>
  </div>
</md-card>
