<form ng-submit="test.submit()">

<md-card ng-repeat="q in test.questions">

  <md-card-content>
    <h5>Question {{ q.num }} of {{ test.questions.length }}</h5>
    <hr>
    <h2 class="md-title">{{ q.question }}</h2>

      <md-radio-group ng-model="q.answer">
        <md-radio-button ng-repeat="a in test.answers" value="{{ a.value }}"
          class="md-primary">{{ a.label }}</md-radio-button>
      </md-radio-group>

  </md-card-content>

  <div layout="row" class="md-actions md-padding" layout-align="space-between center">
    <md-button class="md-raised" ng-click="test.prevQuestion()" type="button"
      ng-hide="{{ q.num == 1 }}">Previous</md-button>
    <p>Selected: <span class="radioValue">{{ q.answer }}</span></p>
    <md-button class="md-raised md-primary" ng-click="test.nextQuestion()"
      type="button" ng-hide="{{ q.num == test.questions.length }}">Next</md-button>
    <md-button class="md-raised md-accent" type="submit"
      ng-show="{{ q.num == test.questions.length }}">Submit</md-button>
  </div>

</md-card>

</form>
