<md-header>
	<h2>Users</h2>
</md-header>
<md-button ui-sref="users-create" class="md-primary md-raised">New User</md-button>

<div class="csat-progress-box md-padding" layout="row"
	layout-align="center center" ng-show="user.processing">
	<div class="csat-progress-box-inner md-padding md-whiteframe-2dp"
		layout="column" layout-align="center center">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		<p>Loading Users...</p>
	</div>
</div>

<table ng-show="user.users" ng-show="!user.processing" layout-fill flex>
	<thead>
		<tr>
			<th class="md-whiteframe-1dp">_id</th>
			<th class="md-whiteframe-1dp">Name</th>
			<th class="md-whiteframe-1dp">Username</th>
			<th class="md-whiteframe-1dp">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in user.users">
			<td>{{ person._id }}</td>
			<td>{{ person.name }}</td>
			<td>{{ person.username }}</td>
			<td class="col-sm-2">
				<md-button ui-sref="users-edit({userId: person._id})">Edit</md-button>
				<md-button href="#" ng-click="user.deleteUser($event, person._id)"
					class="md-warn">Delete</md-button>
			</td>
		</tr>
	</tbody>
</table>
