<md-header>
	<h2>Users</h2>
	<md-button ui-sref="users-create" class="md-primary md-raised">New User</md-button>
</md-header>

<div style="width: 100%;" layout="row" layout-align="center center">
	<div class="md-padding md-whiteframe-2dp csat-progress-box"
		layout="column" layout-align="center center" ng-show="user.processing">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		<p>Loading Users...</p>
	</div>
</div>

<table class="md-padding md-whiteframe-2dp" ng-show="user.users" ng-show="!user.processing">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
			<th>Username</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in user.users">
			<td>{{ person._id }}</td>
			<td>{{ person.name }}</td>
			<td>{{ person.username }}</td>
			<td class="col-sm-2">
				<md-button ui-sref="users-edit({userId: person._id})">Edit</md-button>
				<md-button href="#" ng-click="user.deleteUser(person._id)" class="md-warn">Delete</md-button>
			</td>
		</tr>
	</tbody>
</table>
